/* App Foundations */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

.app-container {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: 60px 1fr;
}

header {
  background: #000000;
  box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
  color: #FFFFFF;
  font-size: 36px;
  width: 100%;
  z-index: 1;

  display: flex;
  justify-content: space-between;
}

.header-cs-logo-container {
  height: 60px;
  width: 270px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-cs-logo-img {
  height: 50px;
  margin: 5px;
  width: 50px;
}

.header-cs-logo-break {
  margin: 5px;
}

.header-cs-logo-text {
  font-weight: bold;
  margin: 5px;
}

.header-add-ticket-button-container {
  height: 60px;
  width: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-add-ticket-button {
  background: #1CA4E7;
  border: none;
  box-sizing: border-box;
  color: white;
  font-size: 50px;
  height: 50px;
  line-height: 50px;
  width: 50px;
}

main {
  background: #F7F7F7;
  /* height: 100%; */
  overflow: scroll;
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

/* Log In and Registration -- Foundations */
.main-form-container {
  background: #FFFFFF;
  border: "1px solid black";
  box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
  margin: 5vh 25vw;
  width: 50vw;
  z-index: 1;
}

.main-form-header {
  background: #000000;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
  height: 42px;
  line-height: 42px;
  margin: 0 0 4vh 0;
  text-align: center;
  width: 50vw;
}

.main-login-body {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-form-buffer {
  width: 100%;
  height: 5vh;
}

.main-form-field {
  background: none;
  border: 0;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  font-size: 14px;
  margin: 2vh 0 2vh 0;
  outline: none;
  padding: 10px;
  width: 80%;
}

.main-form-textarea {
  background: none;
  border: 1px solid #AAAAAA;
  box-sizing: border-box;
  box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
  font-size: 14px;
  margin: 2vh 0 2vh 0;
  outline: none;
  padding: 10px;
  width: 80%;
  height: 200px;
}

.main-form-field-rc-container {
  width: 80%;
}

.main-form-field-cohort {
  background: none;
  border: 0;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  font-size: 14px;
  margin: 2vh 2% 2vh 0;
  outline: none;
  padding: 10px;
  width: 38%;
}

.main-form-field-role {
  background: none;
  border: 0;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  font-size: 14px;
  margin: 2vh 0 2vh 0;
  outline: none;
  padding: 10px;
  width: 58%;
}

.main-login-remember-container {
  color: #666666;
  width: 80%;
}

.main-form-button {
  background: #1CA4E7;
  border-radius: 22px;
  font-size: 16px;
  font-weight: bold;
  height: auto;
  line-height: 42px;
  margin: 4vh 0 0 0;
  padding: 0 20%;
  text-align: center;
}

.main-login-forgot-pass {
  color: #666666;
  font-size: 14px;
  padding: 2vh 0 2vh 0;
}

.main-login-register {
  color: #127AAD;
  font-size: 16px;
  font-weight: bold;
  padding: 4vh 0 4vh 0;
}

.main-ticket-span-title {
  font-weight: bold;
}

.main-ticket-span-body {

}

/* Log In and Registration -- Phone Portrait */

@media only screen
  and (max-width: 425px)
  and (orientation: portrait) {

    .main-form-container {
      height: "200px";
      margin: 5vh 5vw;
      width: 90vw;
    }

    .main-form-header {
      font-size: 28px;
      font-weight: bold;
      height: 42px;
      line-height: 42px;
      margin: 0 0 4vh 0;
      text-align: center;
      width: 90vw;
    }

}

/* Log In and Registration -- Phone Landscape */

/* Log In and Registration -- Tablet Portrait */
@media only screen
  and (min-width: 425px) 
  and (max-width: 1024px)
  and (orientation: portrait) {

    .main-form-container {
      height: "200px";
      margin: 5vh 15vw;
      width: 70vw;
    }

    .main-form-header {
      font-size: 28px;
      font-weight: bold;
      height: 42px;
      line-height: 42px;
      margin: 0 0 4vh 0;
      text-align: center;
      width: 70vw;
    }

}

/* Log In and Registration -- Tablet Landscape */

/* Ticket -- Foundations */
main {
  flex-direction: row;
  justify-content: space-around;
}

.main-ticket-container {
  background: #FFFFFF;
  border: "1px solid black";
  box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
  margin: 3vh 0;
  width: 29vw;
  z-index: 1;
}

.main-ticket-header {
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.main-ticket-header-text {
  margin: 0 5%;
}

.main-ticket-title {
  font-size: 24px;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  margin: 0 auto;
  width: 100%;

  display: flex;
  justify-content: center;
}

.main-ticket-author {
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.main-ticket-body-title {
  font-weight: bold;
  padding: 3% 3% 0 3%;
}

.main-ticket-body {
  height: 72px;
  padding: 3%;
  border-bottom: 1px dashed grey;
  word-wrap: break-word;
}

.main-ticket-author-text {
  margin: 0 5%;
}

.main-ticket-footer {
  background: #212121;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.main-ticket-footer-text {
  margin: 0 5%;
}

.main-ticket-date-footer {
  background: #000000;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

/* Open Ticket: Deep Orange 700 */
.open-ticket-header {
  background: #ac0800;
  color: #FFFFFF;
}

.open-ticket-title {
  background: #e64a19;
  color: #000000
}

.open-ticket-author {
  background: #ff7d47;
  color: #000000
}

/* Open Ticket: Yellow 500 */
.in-progress-ticket-header {
  background: #c8b900;
  color: #FFFFFF;
}

.in-progress-ticket-title {
  background: #ffeb3b;
  color: #000000
}

.in-progress-ticket-author {
  background: #ffff72;
  color: #000000
}

/* Closed Ticket: Green 700 */

.closed-ticket-header {
  background: #00600f;
  color: #FFFFFF;
}

.closed-ticket-title {
  background: #388e3c;
  color: #000000
}

.closed-ticket-author {
  background: #6abf69;
  color: #000000
}

/* Ticket -- Phone Portrait */

@media only screen
  and (max-width: 425px)
  and (orientation: portrait) {

    .main-ticket-container {
      margin: 3vh 5vw;
      width: 90vw;
    }

}

/* Ticket -- Phone Landscape */

/* Ticket -- Tablet Portrait */
@media only screen
  and (min-width: 425px) 
  and (max-width: 1024px)
  and (orientation: portrait) {

    .main-ticket-container {
      margin: 3vh 0;
      width: 47vw;
    }

}

/* Ticket -- Tablet Landscape */